@keyframes SELECT-MONTH-ANIMATION {
  0%   {
    opacity: 0.7;
    font-size: 0.7rem;
    line-height: 1.8rem;
}
  100% {
    opacity: 1;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}

.MuiListItemText-root {
    text-align: center;
}

.MuiTypography-root.MuiTypography-body1 {
    font-size: 0.7rem;
    line-height: 1.8rem;
    opacity: 0.6;
}

.Mui-selected .MuiTypography-body1 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  opacity: 1;
}

.Mui-selected:hover .MuiTypography-body1 {
  animation: none !important;
}

.MuiListItem-button:hover .MuiTypography-body1 {
    animation: SELECT-MONTH-ANIMATION 0.2s ease;
    font-size: 1.3rem;
    line-height: 1.8rem;
    opacity: 1;
}
