.MuiTab-textColorInherit.Mui-selected {
  // background: #d8d9f7;
  // color: #eb7873;
  background: linear-gradient(to right, #6469e4, #d2d3fb);
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.MuiTabs-indicator {
  display: none;
}

.MuiTab-textColorInherit {
  color: #737373;
}

.MuiTab-root {
  min-width: 145px;
}

.has-holidays {
  .MuiBadge-anchorOriginTopRightRectangle {
    top: 24%;
    right: 14%;
    color: #F0C808;
    background: white;
  }

  .MuiBadge-badge {
    padding: 0;
  }

  .MuiSvgIcon-root {
    font-size: 1.3rem;
  }
}

.MuiTabs-scrollable {
  padding: 8px 0;
  -webkit-overflow-scrolling: touch;
}

// Tablet
@media only screen and (max-device-width: 768px) {
  .MuiTab-root {
    min-width: 125px !important;
  }

  .has-holidays .MuiBadge-anchorOriginTopRightRectangle {
    top: 22%;
    right: 6%;
  }
}


// Phone screen
@media only screen and (max-device-width: 480px) {
  .MuiTab-root {
    min-width: 100px !important;
    padding: 8px 26px !important;
  }

  .has-holidays .MuiBadge-anchorOriginTopRightRectangle {
    top: 28%;
    right: 4%;
  }
}