.color-1 {
  color: #7B76E2;
}

.color-2 {
  color: #95BF3B;
}

.color-3 {
  color: #d81b60;
}

.color-4 {
  color: #5BC0EB;
}

.color-5 {
  color: #FA7921;
}
.color-6 {
  color: #FF6663;
}
.color-7 {
  color: #00BFB2;
}
.color-8 {
  color: #EFAAC4;
}
.color-9 {
  color: #C8D6AF;
}
.color-10 {
  color: #255C99;
}

.shared-list-container {
  .shared-list-wrapper {
    display: flex;
    align-items: baseline;

    .MuiTypography-body1 {
      color: #3e3a3a;
      font-size: 0.9rem;
    }

    .MuiDivider-root {
      margin: 0 !important;
    }

    label {
      margin-bottom: 0;
    }
  }
}