.week-container {
  height: 75px;
  text-align: center;
  padding-bottom: 2rem;
  width: 13%;
}

// Phone screen
@media only screen and (max-device-width: 480px) {
 .week-container {
   height: 58px;
  }
}