.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.justify-space {
  justify-content: space-between;
}

.align-fl-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.f-right {
  float: right;
}

.text-center {
  text-align: center;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.text-right {
  text-align: right;
}

.h-100 {
  height: 100vh;
}

.position-relative {
  position: relative;
}

.error {
  color: #e45c56;
}
