.MuiList-root .MuiSvgIcon-root {
  font-size: 1.3rem !important;
  opacity: 0.8;
}

.MuiMenuItem-gutters {
  padding: 0 8px !important;
}

.login-container {
  height: 100vh;
}

.user-container {
  background: #f2f2ff;
  padding: 50px 0;

  .MuiContainer-maxWidthSm {
    max-width: 550px
  }

  .user-form {
    background: white;
    border-radius: 25px;
    padding-bottom: 46px;
    margin: 0 auto;
    // position: absolute;
    // top: 48%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.2), 0px 6px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 22px 0px rgba(0, 0, 0, 0.12);

    .img-container {
      width: 25%;
    }

    .create-login-user {
      text-align: center;
      position: relative;
      top: 28px;

      .user-text {
        color: #737373;
        font-size: 0.9rem;
      }
    }
  }
}

a {
  color: #5b39ef;
}

.MuiButton-contained,
a .MuiButton-contained,
 .proceed-btn {
  border-radius: 25px !important;
  background: linear-gradient(to right, #eb7873, #ee9578);
  padding: 2% 18% !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;

  &:hover {
    background: linear-gradient(to right, #b35c58, #d68469);
  }

  &:active {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
  }

  .MuiButton-label {
    color: white
  }
}

input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

a:hover {
  text-decoration: none;
}

.MuiButton-contained.user-button,
a .user-button {
  position: relative;
  display: block;
  margin: 0 auto !important;
}

.MuiButton-contained.user-button {
  bottom: -65px;
}

// remove up/down arrow from inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.nav-fields {

  .MuiOutlinedInput-adornedEnd,
  .MuiOutlinedInput-adornedStart {
    padding: 0 8px;

    .MuiOutlinedInput-inputAdornedStart {
      padding-left: 8px;
    }
  }

  .MuiSvgIcon-root {
    opacity: 0.8;
    width: 0.8em;
  }
}

.missing-user-info {
  background: #eb7873;
  padding: 6px 12px;
  margin-top: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  border-radius: 12px;
}

// Holiday dashboard boxes

.holiday-icon {
  width: 35px;
  border-radius: 50%;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .MuiSvgIcon-root {
    font-size: 1.2rem;
  }
}

.holiday-number {
  font-weight: 800;
  font-size: 1.7rem;
  padding-top: 20px;
}

.holiday-header {
  font-size: 0.9rem;
  color: #3e3a3a;
}

.holiday-subheader {
  font-size: 0.8rem;
  color: #737373;
  padding-bottom: 16px;
}

.content-header {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 12px;
}

// Phone screen
@media only screen and (max-device-width: 480px) {
  .user-container {
    padding: 24px 16px 32px;
  }

  .login-container {
    height: auto;
  }
}