.logo-container {
  text-align: center;
  color: #eb7873;

  .img-container {
    margin-top: 24px;
    padding: 12px 0 18px;
    height: 14%;
    width: 60%;
    display: block;
    margin: 0 auto;
  }
}