@keyframes donut-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes text-slideup {
  from {
    opacity: 0;
    transform: translateY(0%);
  }

  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}

.donut {
  height: 7.5rem;
  position: relative;
  margin: auto;
}

.donut__frame,
.donut__circle {
  stroke-width: 0.125rem;
  fill: none;
}

.donut__frame {
  stroke: #bdbdbd;
}

.donut__circle {
  stroke: #eb7873;
  stroke-linecap: round;
}

.donut__canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.donut__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: donut-fill 1.5s reverse;
}

.donut__circle[stroke-dasharray='0 100'] {
  stroke: none;
}

.donut__text {
  font-family: monospace;
  font-size: 3rem;
  letter-spacing: -0.15rem;
  text-align: center;
  position: absolute;
  top: 52%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  animation: text-slideup 1.5s linear;
}
.donut__details {
  font-family: "Helvetica Neue",
    sans-serif;
  font-size: 0.7rem;
  color: #737373;
  text-align: center;
  position: absolute;
  top: 31%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  animation: text-slideup 1.5s linear;
}

.donut.is--negative .donut__circle {
  transform: rotate(-90deg) scaleY(-1);
}
