.account-container {
  position: sticky;
  padding: 0 2%;
  justify-content: flex-end;
  height: 8%;
  align-items: center;

  .MuiAvatar-root {
    cursor: pointer;
  }
}

// Mobile
@media only screen and (max-device-width: 480px) {
  .account-container  {
     height: 4%;
  }
}