.account-container {
	padding: 2%;
	justify-content: flex-end;
	height: 10%;

	.share-btn {
		color: #fff;
		border: 1px solid #F0C808;
		background: #F0C808;
		margin-right: 24px;
		padding: 0 16px;

		&:hover {
			color: #606060;
		}

		.MuiSvgIcon-root {
			margin-right: 8px;
		}
	}

	.menu-container {
		position: absolute;
		top: 36px;
		background: #fff;
		width: 200px;
		height: 150px;
		border: 1px solid #d9d9d9;
		border-radius: 4px;
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04), -6px 8px 15px rgba(0, 0, 0, 0.04), 6px 8px 15px rgba(0, 0, 0, 0.04);
		z-index: 4;
		padding: 16px;
		transition: opacity 0.1s ease-in, transform 0.1s ease-in;
	}
}

// Tablet screen
@media only screen and (max-device-width: 768px) {
	.account-container {
		height: auto;
	}
}