.navigation-container {
  height: 100vh;
  max-width: 6%;

  a:hover {
    color: #fff;
  }

  .MuiToolbar-gutters {
    padding: 0;
  }

  .toolbar {
    display: block;
    text-align: center;

    .MuiButtonBase-root {
      margin-top: 8px;
    }

    .drawer {
      margin-left: 6% !important;
      padding: 16px !important;
    }



    .MuiBadge-anchorOriginBottomRightCircle {
      color: #de3232;
      right: -8%;
      top: -88%;

      .MuiSvgIcon-root {
        border-radius: 50%;
        background: #fff;
        font-size: 1.2rem;
      }
    }
  }

}

.navigation-box {
  .MuiDivider-root {
    margin: 12px 0 18px;
  }
}

// Tablet screen
@media only screen and (max-device-width: 768px) {
  .navigation-container .toolbar .MuiBadge-anchorOriginBottomRightCircle {
    right: 10%;
  }
}

@media only screen and (max-device-width: 480px) {
  .dashboard-btn {
    padding: 12px 0 !important;
  }
}