.navigation-container {
	height: 100vh;
	max-width: 6%;

	.navigation-box {
		padding: 16px;
	}

	.MuiToolbar-gutters {
		padding: 0;
	}

	.toolbar {
		display: block;
		text-align: center;

		.drawer {
			margin-left: 6% !important;
			padding: 16px !important;
		}
	}
}