.MuiInputBase-input::placeholder {
    font-size: 12px;
}

.MuiTouchRipple-root {
    display: none
}

.MuiSelect-outlined {
    font-size: 14px;
}

.nav-fields .MuiButtonBase-root {
    color: black;
}