.MuiDialogContent-root .MuiSvgIcon-root {
    color: green;
    font-size: 3rem;
    margin-right: 16px;
}

.MuiDialogActions-root .MuiButtonBase-root {
    margin: 0 auto 24px;
}

.MuiDialogContent-root:first-child {
    padding-top: 24px;
}