.account-container {
  .share-btn {
    color: #fff;
    border: 1px solid #F0C808;
    background: #F0C808;
    margin-right: 24px;
    padding: 4px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);

    &:hover {
      background: #e4bd00;
      border: 1px solid #e4bd00;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45);
    }

    .MuiSvgIcon-root {
      margin-right: 8px;
    }
  }
}

.send-box {
    padding: 16px;
    width: 350px;
    left: 600px;
    
    .to-text {
      font-size: 0.9rem;
      padding-right: 8px;
      color: #4a4a4a;
    }

  .share-box {
    align-items: baseline;

    
    .MuiFormLabel-root {
      font-size: 0.8rem !important;
      font-style: italic;
    }

    .to-text {
      padding-right: 8px;
      color: #4a4a4a;
    }

    .MuiFormLabel-root {
      font-size: 0.8rem !important;
      font-style: italic;
    }

    .error-box {
      .MuiDivider-root {
        margin-top: 50px;
      }
    }

    .msg-box {
      align-items: center;

      .Mui-focused {
        color: rgba(0, 0, 0, 0.54);
      }
    }

    .msg-box {
      align-items: center;

      .send-btn {
        float: right;
        clear: both;
        margin: 16px 0;
        background: linear-gradient(to right, #eb7873, #ee9578);
        border: #eb7873;
        color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

        &:hover {
          background: linear-gradient(to right, #f36660, #ec825f);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45);
        }
      }
    }
  }
}