.account-container {
  .share-btn {
    color: #fff;
    border: 1px solid #F0C808;
    background: #F0C808;
    margin-right: 24px;
    padding: 4px 16px;

    &:hover {
      color: #606060;
    }

    .MuiSvgIcon-root {
      margin-right: 8px;
    }
  }
}

.send-box {
  padding: 16px;
  width: 250px;
  left: 600px;

  .share-box {
    align-items: baseline;

    .to-text {
      padding-right: 8px;
      color: #4a4a4a;
    }

    .MuiFormLabel-root {
      font-size: 0.8rem !important;
      font-style: italic;
    }

    .MuiInput-underline:hover:not(.Mui-disabled):before {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
    }

    .Mui-focused {
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .msg-box {
    align-items: center;

    .MuiSvgIcon-root {
      color: green;
      margin-right: 8px;
      font-size: 2rem;
    }

    span {
      font-size: 0.9rem;
      color: #4a4a4a;
    }
  }

  .MuiDivider-root {
    margin: 16px 0;
  }

  .send-btn {
    float: right;
    clear: both;
    margin-bottom: 16px;
  }
}