
.MuiFab-primary {
    background: #F0C808 !important;
}

.MuiFab-secondary {
    background: #64B6D6 !important;
}

.MuiFab-root {
    margin-left: 16px !important;
}

.MuiBadge-badge .MuiSvgIcon-root {
    color: black;
    margin-bottom: 16px;
    margin-left: 16px;
    width: 0.7em;
}

.totals-container {
    background: #d8d9f7;
    padding: 16px;
    border-radius: 5px;

    .totals {
        color: #9facbd;
    }
}

.position-bottom {
    position: absolute;
    left: 50%;
    bottom: -40%;
    transform: translate(0, -400%);
}

