// Dashboard and Additional boxes
.dashboard-box {
  flex: 2;
  margin-bottom: 32px;

  .MuiDivider-root {
    margin: 12px 0;
  }

  .MuiSvgIcon-root {
    color: #5b39ef;
  }

  .dashboard-mini-info {
    display: flex;
    flex-direction: column;

    .dashboard-info-container {
      display: flex;
      align-items: center;

      .icon-container {
        background: white;
        height: 52px;
        width: 52px;
        border-radius: 25px;
        margin-right: 16px;
        position: relative;
        // box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);

        .MuiSvgIcon-root {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .dashboard-mini-info-box {
      flex: 1;
      background: #e4e8fb;
      // background: #F8F3EF;
      // background: linear-gradient(to right, #d0d5ff, #ebeffd);
      // background: linear-gradient(to left, #F8F3EF, #ebeffd);
      padding: 8px 16px 8px 8px;
      font-size: 0.9rem;
      border-radius: 16px;
      text-align: center;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      &:first-child {
        margin-bottom: 12px;
      }

      .holiday-header {
        font-size: 0.7rem;
        color: #737373;
      }

      .country-info {
        font-weight: 600;
        overflow: auto;
      }
    }
  }
}

.content-box {
  flex: 1;
  border-radius: 8px;
  padding: 16px;
  background: white;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,.14);

  &:last-child {
    margin-bottom: 16px;
  }

  .content-header {
    font-size: 0.9rem;
  }

  .more-text {
    color: #737373;
    font-size: 0.8rem;

    &:hover {
      border-bottom: 1px solid #9c9c9c;
      padding-bottom: 4px;
    }
  }

  .remaining-number {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.sub-menu {
  color: #3e3a3a;
  font-size: 0.9rem;
  text-align: center;

  .taken-icon {
    width: 35px;
    border-radius: 50%;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiSvgIcon-root {
      font-size: 1.2rem;
    }
  }
}

.dashboard-box .holiday-number {
  padding-top: 0;
}

.add-icon {
    background: #cde4cb;

    .MuiSvgIcon-root {
      color: #049a5d;
    }
  }

  .date-icon {
    background: #fff0c0;

    .MuiSvgIcon-root {
      color: #bf9e00;
    }
  }

.sub-menu-header {
  margin: 12px 0 24px;
}

// TakenVacationDates component

.dates-container {
  display: flex;
  align-items: baseline;

  font-size: 0.9rem;

  .months-box {
    font-weight: 600;
    margin-right: 8px;
    width: 24%;
  }
    .dates-wrapper {
      width: 90%;
      // overflow-x: scroll;
    }

  .date-box {
    padding: 10px;

    .date-el {
      background: #F0C808;
      padding: 0 14px;
      text-align: center;
      border-radius: 8px;
      margin-right: 8px
    }
  }
}

.feedback-box {
  margin-top: 16px;
  display: flex;
  flex-direction: column;

  a {
    font-size: 0.8rem;
  }

  .MuiButton-sizeSmall {
    font-size: 0.7rem;
  }
}

// Tablet screen
@media only screen and (max-device-width: 768px) {
  .content-box {
    flex: none;
    width: 45%;
  }
}

// Phone screen
@media only screen and (max-device-width: 480px) {
  .content-box {
    flex: none;
    width: 47%;
    margin: 15px auto;
  }

  .dashboard-box {
    margin-right: 4%;
  }

  .dates-container .months-box {
    width: 44%;
  }
}
