* {
	box-sizing: border-box;
}

.main-container {
	flex: 2;
	width: 94%;
	background: #f7f7f7;
}

.account-container .MuiButton-root {
	margin-left: 24px !important;
}

.menu-container {
	height: 100vh;
	max-width: 6%;

	.menu-box {
		display: none
	}

	.MuiToolbar-gutters {
		padding: 0;
	}

	.toolbar {
		display: block;
	}
}

.main-calendar {
	display: flex;
	height: 90vh;

	.calendar-container {
		width: 75%;
	}

	.months.MuiList-root .MuiListItem-button:hover {
		background-color: transparent;
	}

	.content-container {
		flex: 2;
		width: 25%;
		margin-right: 16px;
		display: flex;
		flex-direction: column;

		.dashboard-box {
			padding-bottom: 24px;
		}

		.content-header {
			color: #737373;
			text-transform: uppercase;
			font-size: 0.9rem;
			font-weight: 600;
		}

		.content-box {
			flex: 1;
			margin-bottom: 16px;
			padding: 16px;
			background: white;
			box-shadow: 0 7px 15px 0 rgba(0,0,0,.04);
		}
	}
}

.loader-overlay {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(248, 248, 255, 0.9);
}

.loader-overlay .MuiCircularProgress-colorPrimary {
	color: rgb(244, 99, 116);
}

.usage-overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(248, 248, 255, 0.9);
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #eb7873;
}

// Tablet screen

@media only screen and (max-device-width: 768px) {
	.main-calendar {
		display: block;

		.calendar-container {
			width: 100%;
		}

		.content-container {
			flex-direction: row;
			padding: 0 16px 0;
			width: 100%;

			.content-box {
				margin-bottom: 0;
			}
		}
	}
}

// Phone screen

// @media only screen and (max-device-width: 480px) {
// 	.content-container {
// 		flex-direction: row;

// 		.dashboard-box {
// 			padding-bottom: 0;
// 		}
// 	}
// }