* {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;

  .MuiAppBar-colorPrimary {
    background-color: #5b39ef;
  }
}

.main-content,
.dashboard-tab-container {
  overflow-y: scroll;
}

.main-container {
  width: 94%;
}

.main-content {
  background: #f6f6ff;
  display: flex;
  justify-content: space-between;
  height: 92%;
  padding: 16px;

  .main-calendar {
    margin: 0 32px 0 16px;
    width: 75%;

    .main-header {
      margin: 0 0 24px -16px;
    }

    .calendar-base-wrapper {
      background: white;
      padding: 16px;
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.14);
      border-radius: 8px;
      margin-bottom: 16px;
    }
    .calendar-wrapper {
      @extend .calendar-base-wrapper;
      // height: 62%;
    }
  }

  .months.MuiList-root .MuiListItem-button:hover {
    background-color: transparent;
  }

.mobile-boxes-scroll {
    width: 20%;
  
    .content-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.loader-overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(248, 248, 255, 0.9);
}

.loader-overlay .MuiCircularProgress-colorPrimary {
  color: rgb(244, 99, 116);
}

// Tablet screen
@media only screen and (max-device-width: 768px) {
  .navigation-container {
    height: auto;
  }

  .menu-container {
    height: auto;
  }

  .main-content {
    display: block;

    .main-calendar {
      width: 98%;
      margin: 2% 1%;

      .main-header {
        margin: 0 0 24px 0;
      }

      .calendar-wrapper {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }
    }

    .content-container {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 0;
    }
  }
}

.usage-overlay {
	position: absolute;
	z-index: 1;
	top: 8%;
	left: 0;
	width: 100%;
	height: 92%;
	background: rgba(202, 201, 201, 0.81);
}

@media only screen and (max-device-width: 768px) {
 .main-content .mobile-boxes-scroll {
    width: 100%;

    .content-container {
      flex-direction: row;
      align-items: initial;

      .content-box {
        margin-bottom: 12px;
      }
    }
  }
}

// Phone screen
@media only screen and (max-device-width: 480px) {
  .navigation-container {
    height: auto;
    max-width: 10%;

    button {
      padding: 0;
    }
  }

  .usage-overlay {
    top: 9%;    
  }

  .MuiGrid-justify-xs-center {
    justify-content: space-between !important;
  }

  .menu-container {
    max-width: 10%;
  }

  .main-container {
    width: 90%;
  }

  .main-content {
    height: 91%;
    padding: 8px;
  }

  .main-content .mobile-boxes-scroll {
    width: 100%;
    overflow-x: scroll;

    .content-container {
      flex-direction: row;
      width: 186%;
    }
  }
}
